* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.corpo{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap:30px;
    justify-content: center;
    align-items: center;
    

}

.semaforo {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100px;
    height: 300px;
    border-radius: 50px;
}

.botoes{
    width: 100px;
    height: 30px;
    margin: 20px;
    border-radius: 10px;
    font-size: 1em;
    font-weight: bold;

}

#vermelho{ 
    box-shadow: inset 2px 37px 38px 12px rgba(0,0,0,0.76);
    background: #7c0202;
    width: 84px;
    height: 84px;
    border-radius: 47px;
    
}

#amarelo{
    box-shadow: inset 2px 37px 38px 12px rgba(0,0,0,0.76);
    background: #8b8b006c;
    width: 84px;
    height: 84px;
    border-radius: 47px;
}

#verde{
    box-shadow: inset 2px 37px 38px 12px rgba(0,0,0,0.76);
    background: #004600;
    width: 84px;
    height: 84px;
    border-radius: 47px;
}

#vermelho-aceso{
    background-color: red;
    width: 84px;
    height: 84px;
    border-radius: 47px;
}

#amarelo-aceso{
    background-color: yellow;
    width: 84px;
    height: 84px;
    border-radius: 47px;
}

#verde-aceso{
    background-color: green;
    width: 84px;
    height: 84px;
    border-radius: 47px;
}