*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}   

#lampada{
    display: flex;
    flex-direction: column;
}
.botoes{
    margin: 10px;
    width: 90px;
    height: 30px;
    border-radius: 5px;
    font-size: 1em;
}
